#offers-page {
    padding: 100px;
    h1 {
        font-size: 3rem;
        font-weight: 700;
        color: black;
        margin-bottom: 2.5rem;
    }
    p {
        font-size: 0.9rem;
        line-height: 2;
        margin-bottom: 2rem;
        font-weight: 500;
    }
    form {
        .form-group {
            label {
                font-weight: 700;
                margin-bottom: 10px;
                color: black;
            }
            .form-control {
                padding: 10px !important;
                border: 2px solid #9c1b24;
                font-size: 1.3rem;
                box-sizing: border-box;
                height: auto;
            }
            button[type="submit"] {
                background: #9c1b24;
                border: none;
                padding: 20px 40px;
            }
        }
    }
}
@media (min-width: 0px) and (max-width: 767px) {
    #offers-page {
        padding: 20px;
        h1 {
            font-size: 2rem;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #offers-page {
        padding: 20px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
