#menu-page {
    padding: 100px;
    #food-preview {
        padding: 0;
        background: transparent;
        h2 {
            color: white;
            text-transform: uppercase;
        }
        .button-rounded {
            margin-bottom: 2rem;
        }
        .right-btn,
        .left-btn {
            background: black;
        }
        .food-slider {
            .sliding-system {
            }
            .slide {
                &:hover {
                    .background {
                        background: black;
                        transform: translate3d(0, -200px, 0);
                    }
                }
            }
        }
    }
}
@media (min-width: 0px) and (max-width: 767px) {
    #menu-page {
        padding: 20px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #menu-page {
        padding: 20px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
