#single-menu-page {
    padding: 100px;
    h1 {
        font-size: 3rem;
        font-weight: 700;
        color: #ed4852;
        margin-bottom: 2rem;
    }
    .item {
        margin-bottom: 2rem;
    }
    .title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        h4,
        .price {
            font-size: 1.4rem;
            color: black;
            font-weight: 900;
        }
    }
}
@media (min-width: 0px) and (max-width: 767px) {
    #single-menu-page {
        padding: 20px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #single-menu-page {
        padding: 20px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    #single-menu-page {
        padding: 20px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
